.pshare {
  padding: 10px 0 10px 7px;
}

.pshare a {
  text-decoration:none !important;
}

#pshare_form > .pshare_input_group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: baseline;
  text-align:left;
}

#pshare_form  input, #pshare_form select {
  border: rgb(240, 150, 00) 1px solid;
  background: none;
  padding: 5px;
  border-radius: 5px;
  color: #111;
}

#pshare_form  input, #pshare_form select, #pshare_form label {
  width:100%;
  box-sizing: border-box;
}

#pshare_form table {
  margin:10px auto;
}

#pshare_form td {
  padding:3px;
}

#pshare_form th {
  text-align:right;
  padding-right:5px;
}

#pshare_form .formActions {
  text-align:center;
  margin:20px;
}

#pshare_form .formActions .loading {
  visibility:hidden;
}

.formInfo {
  visibility:hidden;
  margin:10px 0;
  text-align:center;
}

.formInfo .pshare-close {
  text-decoration:none !important;
}

.formInfo span {
  font-weight:bold;
  padding: 2px 5px;
  border-radius:5px !important;
}

.formInfo span.error {
  color: #F22;
  background-color: #FFD5DC;
}

.formInfo span.success {
  color: #0A0;
  background-color: #C2F5C2;
}

.pwg-button i.pshare-icon-share{
  font-size:16px!important;
}

/* Jconfirm popin */

#pshare_form > .pshare_input_group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: baseline;;
}


/* Jconfirm styling */

.jconfirm-type-uc, .jconfirm-type-uc-dark {
  border-top: solid 7px rgb(240, 150, 00);
}

.jconfirm-type-uc .jconfirm-icon-c, .jconfirm-type-uc-dark .jconfirm-icon-c {
  color: rgb(240, 150, 00) !important;
}

.jconfirm-type-uc button.btn-uc, .jconfirm-type-uc-dark button.btn-uc {
  background-color: rgb(240, 150, 00);
  color: white;
}

.jconfirm-type-uc button.btn-uc:hover, .jconfirm-type-uc-dark button.btn-uc:hover {
  background-color: rgb(209, 140, 0);
}

.jconfirm-type-uc-dark {
  background-color: #111 !important;
}

.jconfirm-type-uc-dark .jconfirm-title {
  color: white !important;
}

.jconfirm-type-uc-dark .btn-default {
  color: white !important;
  background: #222 !important;
}

.jconfirm-type-uc-dark .btn-default:hover {
  background: #181818 !important;
}

.jconfirm-type-uc input, .jconfirm-type-uc textarea, .jconfirm-type-uc select{
  color:black;
}

.jconfirm-type-uc-dark input, .jconfirm-type-uc-dark textarea, .jconfirm-type-uc-dark select {
  color: white !important;
}

.jconfirm-type-uc-dark  #pshare_form input, .jconfirm-type-uc-dark  #pshare_form select{
  background-color:#111;
}

.jconfirm-type-uc-dark label {
  color: white;
}

.jconfirm-type-uc-dark .shares_list {
  color: white;
}

.jconfirm-type-uc-dark .uc_form a {
  color: white;
}