
.pshare-icon-mail:before { content: '\e800'; } /* '' */
.pshare-icon-share:before { content: '\e801'; } /* '' */
.pshare-icon-download-alt:before { content: '\e802'; } /* '' */
.pshare-icon-down-circled2:before { content: '\e803'; } /* '' */